.dynOverlayGroup {
    margin-bottom: 1rem;
}

.dynFormsList {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
}

.dynFormsList a {
    display: block;
    position: relative;
    padding: .25rem .375rem .25rem 1.5rem;
}

.dynFormsList a:hover {
    text-decoration: none;
    background-color: #eee;
}

.dynFormsList a i {
    position: absolute;
    top: .4rem;
    left: .25rem;
}

.dynFormsList .formLine {
    display: block;
}

.dynSettings {
    padding-top: 4px;
}