<div ng-controller="Umbraco.Cms.Integrations.Automation.Zapier.ZapierConfigController as vm">
    <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>
    <umb-box>
        <umb-box-header title="Content Properties"></umb-box-header>
        <umb-box-content>
            <div>
                <p>
                    <a href="https://zapier.com/">Zapier</a> is an online platform that helps you automate workflows by connecting your apps and services you use.
                    This allows you to automate tasks without having to build this integration yourself.
                    When an event happens in one app, Zapier can tell another app to perform (or do) a particular action - no code necessary.
                </p>
                <p>
                    The heart of any automation boils down to this simple command: <b>WHEN</b> <span>this happens</span> <b>THEN</b> <span>do that</span>.
                </p>
                <p>
                    A Zap is an automated workflow that tells your apps to follow this simple command: "When this happens, do that."
                    Every Zap has a trigger and one or more actions. A trigger is an event that starts a Zap, and an action is what your Zap does for you.
                </p>
                <p>
                    Zap triggers use webhooks to execute the actions. Webhooks are automated messages sent from apps when something happens.
                </p>
                <p ng-if="!vm.formsExtensionInstalled">
                    You can initiate your automation when a content item of a particular document type is published in Umbraco.
                </p>
                <p ng-if="vm.formsExtensionInstalled">
                    You can initiate your automation when a content item of a particular document type is published or a form is submitted in Umbraco.
                </p>
                <p>
                    The integration uses Zapier subscription hook triggers, allowing Zapier to set up and remove hook subscriptions when Zaps are created or removed on the platform.
                </p>
            </div>
        </umb-box-content>
    </umb-box>
    <umb-box>
        <umb-box-header title="Registered Subscription Hooks"></umb-box-header>
        <umb-box-content>
            <div>
                <p ng-if="vm.contentSubscriptionHooks.length == 0">There are no subscription hooks.</p>
            </div>
            <div class="mt2">
                <div class="umb-table" ng-if="vm.contentSubscriptionHooks.length > 0">
                    <!-- Listviews head section -->
                    <div class="umb-table-head">
                        <div class="umb-table-row">
                            <div class="umb-table-cell"></div>
                            <div class="umb-table-cell umb-table__name">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    <span>Name</span>
                                </a>
                            </div>
                            <div class="umb-table-cell">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    <span>Hook URL</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Listview body section -->
                    <div class="umb-table-body">
                        <div class="umb-table-row"
                             ng-repeat="row in vm.contentSubscriptionHooks track by $index">
                            <div class="umb-table-cell"></div>
                            <div class="umb-table-cell umb-table__name">
                                <span ng-bind="row.entityId"></span>
                            </div>
                            <div class="umb-table-cell">
                                <span ng-bind="row.hookUrl"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </umb-box-content>
    </umb-box>
    <umb-box ng-if="vm.formsExtensionInstalled">
        <umb-box-header title="Registered Form Subscription Hooks"></umb-box-header>
        <umb-box-content>
            <div>
                <p ng-if="vm.formSubscriptionHooks.length == 0">There are no form subscription hooks.</p>
            </div>
            <div class="mt2">
                <div class="umb-table" ng-if="vm.formSubscriptionHooks.length > 0">
                    <!-- Listviews head section -->
                    <div class="umb-table-head">
                        <div class="umb-table-row">
                            <div class="umb-table-cell"></div>
                            <div class="umb-table-cell umb-table__name">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    <span>Form Id</span>
                                </a>
                            </div>
                            <div class="umb-table-cell">
                                <a class="umb-table-head__link" href="#" prevent-default>
                                    <span>Hook URL</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Listview body section -->
                    <div class="umb-table-body">
                        <div class="umb-table-row"
                             ng-repeat="row in vm.formSubscriptionHooks track by $index">
                            <div class="umb-table-cell"></div>
                            <div class="umb-table-cell umb-table__name">
                                <span ng-bind="row.entityId"></span>
                            </div>
                            <div class="umb-table-cell">
                                <span ng-bind="row.hookUrl"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </umb-box-content>
    </umb-box>
</div>