<div ng-controller="Umbraco.Cms.Integrations.Search.Algolia.DashboardController as vm">

    <div ng-show="vm.loading">
        <umb-load-indicator></umb-load-indicator>
    </div>

    <div class="umb-panel-group__details">

        <div ng-if="vm.viewState == 'list'" class="umb-panel-group__details-group">
            <div class="umb-panel-group__details-group-title">
                <div class="umb-panel-group__details-group-name">
                    Algolia Indices
                </div>
            </div>
            <div class="umb-panel-group__details-checks">
                <div class="umb-panel-group__details-check-title">
                    <div class="umb-panel-group__details-check-name">Manage Algolia Indices</div>
                    <div class="umb-panel-group__details-check-description">
                        <p>
                            Algolia is an AI-powered search and discovery platform allowing you to create cutting-edge customer experiences for their websites or mobile apps.
                            It's like the perfect mediator between your website and customers, making sure the conversation is as smooth and efficient as possible.
                        </p>
                        <p>
                            The Algolia model provides Search as a Service through an externally hosted search engine, offering web search across the website based
                            on the content payload pushed from the website to Algolia.
                        </p>
                        <p>
                            To get started, you need to create an index and define the content schema - document types and properties.
                            Then you can build your index, push data to Algolia and run searches across created indices.
                            <br />
                            <a style="text-decoration: underline" target="_blank" href="https://www.algolia.com/doc/guides/getting-started/quick-start/">
                                Read more about integrating Algolia Search
                            </a>
                        </p>
                    </div>
                    <div class="umb-panel-group__details-check-description">
                        <umb-button type="button"
                                    button-style="primary"
                                    action="vm.addIndex()"
                                    label="Add New Index Definition">
                        </umb-button>
                    </div>
                </div>
                <div ng-if="vm.indices.length > 0" class="ml2 mr7 umb-panel-group__details-status">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Schema</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="index in vm.indices">
                                <td>
                                    <button type="button" class="btn-link -underline" ng-click="vm.viewIndex(index)">
                                        {{index.name}}
                                    </button>
                                </td>
                                <td>
                                    <umb-node-preview ng-repeat="item in index.contentData"
                                                      icon="item.contentType.icon"
                                                      name="item.contentType.name"
                                                      alias="item.contentType.alias"
                                                      published="true"
                                                      description="item.propertiesDescription.join(', ')">
                                    </umb-node-preview>
                                </td>
                                <td>
                                    <umb-button label="Build"
                                                type="button"
                                                button-style="danger"
                                                action="vm.buildIndex(index)">
                                    </umb-button>
                                    <umb-button label="Search"
                                                type="button"
                                                button-style="success"
                                                action="vm.searchIndex(index)">
                                    </umb-button>
                                    <umb-button label="Delete"
                                                type="button"
                                                button-style="inverse"
                                                action="vm.deleteIndex(index)">
                                    </umb-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div ng-if="vm.viewState === 'manage'">
            <umb-editor-sub-header>
                <umb-editor-sub-header-content-left>
                    <button type="button" class="umb-package-details__back-action" ng-click="vm.manageIndex.reset();vm.viewState = 'list';">
                        <span aria-hidden="true">&larr;</span>
                        Back
                    </button>
                </umb-editor-sub-header-content-left>
            </umb-editor-sub-header>
            <div class="umb-panel-group__details-group">
                <div class="umb-panel-group__details-group-title">
                    <div class="umb-panel-group__details-group-name">
                        {{ vm.manageIndex.id == 0 ? "Create" : "Edit" }} Index Definition
                    </div>
                </div>
                <div class="umb-panel-group__details-checks">
                    <!-- Content Type, Index Name -->
                    <div class="umb-panel-group__details-check">
                        <div class="umb-panel-group__details-status">
                            <div class="umb-panel-group__details-status-content">
                                <div class="row">
                                    <div class="flex">
                                        <div class="mt2">
                                            <label>Index Name</label>
                                        </div>
                                        <div class="ml2">
                                            <input type="text" ng-model="vm.manageIndex.name" no-dirty-check />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="flex justify-start">
                                        <div class="mr5" ng-model="vm.manageIndex.contentTypesList">
                                            <h5>Document Types</h5>
                                            <div class="umb-panel-group__details-check-description">
                                                Please select the document types you would like to index,<br/> and click <b>Open</b> to choose the fields to include.
                                            </div>
                                            <umb-node-preview ng-repeat="contentType in vm.manageIndex.contentTypesList"
                                                              icon="contentType.icon"
                                                              name="contentType.name"
                                                              alias="contentType.alias"
                                                              published="contentType.selected"
                                                              allow-remove="contentType.allowRemove"
                                                              allow-open="true"
                                                              on-open="vm.manageIndex.showProperties(contentType)"
                                                              on-remove="vm.manageIndex.removeContentType(contentType)">
                                            </umb-node-preview>
                                        </div>
                                        <div ng-if="vm.manageIndex.propertiesList.length > 0">
                                            <h5>{{ vm.manageIndex.selectedContentType.name }} Properties</h5>
                                            <div class="row">
                                                <div>
                                                    <umb-content-grid content="vm.manageIndex.propertiesList"
                                                                      content-properties="vm.manageIndex.includeProperties"
                                                                      on-click="vm.manageIndex.selectProperty"
                                                                      on-click-name="vm.manageIndex.selectProperty">
                                                    </umb-content-grid>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt2 row">
                                    <umb-button type="button"
                                                button-style="success"
                                                action="vm.saveIndex()"
                                                label="Save">
                                    </umb-button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <div ng-if="vm.viewState === 'search'">
            <umb-editor-sub-header>
                <umb-editor-sub-header-content-left>
                    <button type="button" class="umb-package-details__back-action" ng-click="vm.searchQuery='';vm.selectedSearchIndex={};vm.viewState = 'list';">
                        <span aria-hidden="true">&larr;</span>
                        Back
                    </button>
                </umb-editor-sub-header-content-left>
            </umb-editor-sub-header>
            <div class="umb-panel-group__details-group">
                <div class="umb-panel-group__details-group-title">
                    <div class="umb-panel-group__details-group-name">
                        Search
                    </div>
                </div>
                <div class="umb-panel-group__details-checks">
                    <!-- Content Type, Index Name -->
                    <div class="umb-panel-group__details-check">
                        <div class="umb-panel-group__details-check-title">
                            <div class="umb-panel-group__details-check-name">Search over index</div>
                            <div class="umb-panel-group__details-check-description">
                                Please enter the query you want to search by against index <b>{{ vm.selectedSearchIndex.name }}</b>
                            </div>
                        </div>
                        <div class="umb-panel-group__details-status">
                            <div class="umb-panel-group__details-status-content">
                                <div class="row">
                                    <div class="flex">
                                        <div class="mt2" style="width:50%">
                                            <input type="text" style="width:100%" ng-model="vm.searchQuery" no-dirty-check />
                                        </div>
                                        <div class="mt2">
                                            <umb-button type="button"
                                                        button-style="success"
                                                        action="vm.search()"
                                                        label="Search"
                                                        label-key="general_search">
                                            </umb-button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <!--RESULTS -->
                                    <div>
                                        <p>Items Count: {{ vm.searchResults.itemsCount }}</p>
                                        <p>Pages Count: {{ vm.searchResults.pagesCount }}</p>
                                        <p>Items per Page: {{ vm.searchResults.itemsPerPage }}</p>
                                        <div ng-repeat="record in vm.searchResults.hits">
                                            <p ng-repeat="(key, value) in record">
                                                <b>{{ key }}</b> : {{ value }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
