.aprimo-editor-container {
    margin: 20px;
}

.aprimo-search {
    width: 70%;
}

.aprimo-center {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.aprimo-label {
    font-size: 15px;
}

/* rendering */
.aprimo-title {
    display: inline;
    vertical-align: top;
    padding-left: 10px;
}