<div ng-controller="Umbraco.Cms.Integrations.Crm.ActiveCampaign.ConfigurationController as vm">
    <p>
        <b>{{ vm.status }}</b>
    </p>
    <!--<p ng-if="vm.oauthConfig && vm.oauthConfig.isConnected"><b>Connected:</b> {{ vm.oauthConfig.fullName }} </p>
    <p ng-if="!vm.oauthConfig || !vm.oauthConfig.isConnected"><b>Disconnected</b></p>-->
    <!--<div>
        TEST-->
        <!--<umb-button action="vm.onConnectClick()"
                    type="button"
                    button-style="primary"
                    state="init"
                    label="Connect"
                    disabled="vm.oauthConfig.isConnected">
        </umb-button>
        <umb-button action="vm.onRevokeToken()"
                    type="button"
                    button-style="danger"
                    state="init"
                    label="Revoke"
                    disabled="!vm.oauthConfig.isConnected">
        </umb-button>-->
    <!--</div>-->
</div>