@using Umbraco.Cms.Integrations.Crm.ActiveCampaign.Models.ViewModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<FormViewModel>


<div class="_form_@Model.Id"></div>
<script src="https://@(Model.Account).activehosted.com/f/embed.php?id=@Model.Id" type="text/javascript" charset="utf-8"></script>