<div ng-controller="Umbraco.Cms.Integrations.DAM.Aprimo.ConfigurationController as vm">
    <uui-icon-registry-essential>
        <uui-card-content-node name="Aprimo API Configuration" style="max-width: 800px;">
            <uui-icon slot="icon" name="{{vm.configuration.icon}}"></uui-icon>
            <uui-tag size="s" slot="tag" color="{{vm.configuration.tag}}">
                {{ vm.configuration.message }}
            </uui-tag>
            <div style="width:70%">

                <browser-support ng-if="!vm.configuration.browserIsSupported"></browser-support>

                <div class="mt2">
                    <uui-toggle id="useContentSelector" class="aprimo-label" label="Use Content Selector" ng-on-change="vm.onUseContentSelector()">
                        Use Content Selector
                    </uui-toggle>
                    <uui-box ng-if="!vm.useContentSelector" class="aprimo-label">
                        <p>
                            Assets will be retrieved using an Umbraco interface communicating with the Aprimo API.
                            This works with all browsers supported by Umbraco.
                        </p>
                    </uui-box>
                    <uui-box ng-if="vm.useContentSelector" class="aprimo-label">
                        <p>
                            Assets will be retrieved using a richer Aprimo user interface,
                            but is only available with
                            <a href="https://help.aprimo.com/Content/Marketing_Operations_Help/aprimo_basics/browsers_configuring_concept.html" target="_blank">this</a>
                            list of supported browsers. <br /><br/>
                            <a href="https://developers.aprimo.com/digital-asset-management/aprimo-integration-tools/aprimo-content-selector/" target="_blank">Read more</a>
                        </p>
                    </uui-box>
                </div>

                <div class="mt2">
                    <uui-button id="btnConnect" label="Connect" color="primary" look="primary"
                                ng-click="vm.onConnect()" class="aprimo-label"></uui-button>
                    <uui-button id="btnRevoke" label="Revoke" color="danger" look="primary"
                                ng-click="vm.onRevoke()" class="aprimo-label"></uui-button>
                </div>
            </div>
        </uui-card-content-node>
    </uui-icon-registry-essential>

</div>