<div ng-controller="Umbraco.Cms.Integrations.DAM.Aprimo.ConfigurationController as vm">
    <uui-icon-registry-essential>
        <uui-card-content-node name="Aprimo API Configuration" style="max-width: 800px;">
            <uui-icon slot="icon" name="{{vm.configuration.icon}}"></uui-icon>
            <uui-tag size="s" slot="tag" color="{{vm.configuration.tag}}">
                {{ vm.configuration.message }}
            </uui-tag>
            <div style="width:70%">

                <browser-support ng-if="!vm.configuration.browserIsSupported"></browser-support>

                <div class="mt2">
                    <uui-toggle id="useContentSelector" class="aprimo-label" label="Use Content Selector" ng-on-change="vm.onUseContentSelector()">
                        Use Content Selector
                    </uui-toggle>
                    <uui-box ng-if="vm.useContentSelector" class="aprimo-label">
                        <p>
                            The Aprimo content selector is a pre-built UI to use Aprimo DAM as a tool for users to select content items in 3rd party systems.
                        </p>
                        <p>
                            The Aprimo content selector can be launched in either ID mode or CDN mode.
                            ID mode will return the record ID of the selected asset, and CDN mode will also return the public uri of the asset.
                            Public CDN is required for CDN mode.
                        </p>
                        <p>
                            The record ID that is returned can be used in the Aprimo REST API to get metadata on the
                            selected record, and the public uri returned in CDN mode can be used to place the content in a field or on a page.
                        </p>
                        <p>
                            The Aprimo Content Selector can only be used in a stand-alone browser window (or browser tab).
                        </p>
                        <a href="https://developers.aprimo.com/digital-asset-management/aprimo-integration-tools/aprimo-content-selector/" target="_blank">read more</a>
                    </uui-box>
                </div>

                <div class="mt2">
                    <uui-button id="btnConnect" label="Connect" color="primary" look="primary"
                                ng-click="vm.onConnect()" class="aprimo-label"></uui-button>
                    <uui-button id="btnRevoke" label="Revoke" color="danger" look="primary"
                                ng-click="vm.onRevoke()" class="aprimo-label"></uui-button>
                </div>
            </div>
        </uui-card-content-node>
    </uui-icon-registry-essential>

</div>