<div ng-controller="Umbraco.Cms.Integrations.DAM.Aprimo.ConfigurationController as vm">
    <uui-icon-registry-essential>
        <uui-card-content-node name="Aprimo API Configuration" style="max-width: 800px;">
            <uui-icon slot="icon" name="{{vm.configuration.icon}}"></uui-icon>
            <uui-tag size="s" slot="tag" color="{{vm.configuration.tag}}">
                {{ vm.configuration.message }}
            </uui-tag>
            <div style="width:60%">

                <browser-support ng-if="!vm.configuration.browserIsSupported"></browser-support>

                <div class="mt2">
                    <uui-toggle id="useContentSelector" class="aprimo-label">
                        Use
                        <b>
                            <a href="https://developers.aprimo.com/digital-asset-management/aprimo-integration-tools/aprimo-content-selector/" target="_blank">
                                Content Selector
                            </a>
                        </b>
                    </uui-toggle>
                </div>

                <div class="mt2">
                    <uui-button id="btnConnect" label="Connect" color="primary" look="primary"
                                ng-click="vm.onConnect()" class="aprimo-label"></uui-button>
                    <uui-button id="btnRevoke" label="Revoke" color="danger" look="primary"
                                ng-click="vm.onRevoke()" class="aprimo-label"></uui-button>
                </div>
            </div>
        </uui-card-content-node>
    </uui-icon-registry-essential>

</div>