<div ng-controller="Umbraco.Cms.Integrations.Crm.Dynamics.FormPickerController as vm">
    <umb-editor-view>
        <umb-editor-container>
            <umb-box>
                <umb-box-header title="{{ model.title }}" description="{{ model.subtitle }}"></umb-box-header>

                <umb-box-content style="height: 50px; position: relative;" ng-if="vm.formsLoading && !vm.isConnected">
                    <umb-load-indicator />
                </umb-box-content>

                <umb-box-content ng-if="!vm.formsLoading">

                    <div class="dynOverlayGroup" ng-if="vm.isConnected">
                        <div class="form-search">
                            <i class="icon-search"></i>
                            <input type="text" class="-full-width-input" ng-model="vm.searchTerm" placeholder="Type to search..." umb-auto-focus="" aria-invalid="false">
                        </div>
                    </div>
                    <div class="dynOverlayGroup" ng-if="vm.isConnected">
                        <ul class="dynFormsList">
                            <li ng-repeat="form in vm.dynamicsFormsList | orderBy:'module' | filter:vm.searchTerm" ng-click="vm.selectedForm = form"
                                ng-class="{ 'dynFormSelected': vm.selectedForm == form }" role="button" tabindex="0">
                                <a href="" ng-attr-title="form.name">
                                    <i class="icon-umb-contour"></i>
                                    <span class="formLine">{{form.name}} - {{form.module}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dynOverlayGroup" ng-if="vm.isConnected && vm.selectedForm.module == 'Outbound'">
                        <umb-toggle checked="vm.iframeEmbedded"
                                    on-click="vm.toggleRenderMode()"
                                    show-labels="true"
                                    label-on="Render with iFrame"
                                    label-off="Render with Script"
                                    label-position="right"
                                    hide-icons="true">
                        </umb-toggle>
                    </div>
                </umb-box-content>
            </umb-box>
            <umb-box>
                <umb-box-header title="Dynamics - OAuth Status" description="Please connect with your Microsoft account."></umb-box-header>
                <umb-box-content>
                    <div class="dynOverlayGroup">
                        <oauth-configuration on-connected="connected()" on-revoked="revoked()"></oauth-configuration>
                    </div>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="success"
                            label-key="general_submit"
                            shortcut="ctrl+s"
                            action="model.selectForm(vm.selectedForm, vm.iframeEmbedded)">
                </umb-button>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="model.close()">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>
</div>