<div>

    <ng-form name="moduleConfigurationForm" class="flex">
        <ul class="inline">
            <li class="-no-padding-left">
                <umb-radiobutton name="moduleConfiguration"
                                 value="Outbound"
                                 model="model.value"
                                 text="Outbound"
                                 required="true">
                </umb-radiobutton>
            </li>
            <li>
                <umb-radiobutton name="moduleConfiguration"
                                 value="RealTime"
                                 model="model.value"
                                 text="RealTime"
                                 required="true">
                </umb-radiobutton>
            </li>
            <li>
                <umb-radiobutton name="moduleConfiguration"
                                 value="Both"
                                 model="model.value"
                                 text="Both"
                                 required="true">
                </umb-radiobutton>
            </li>
        </ul>

        <span ng-messages="moduleConfigurationForm.moduleConfiguration.$error" show-validation-on-submit>
            <span class="help-inline" ng-message="required"><localize key="general_required">Required</localize></span>
        </span>
    </ng-form>
</div>