<div ng-controller="Umbraco.Cms.Integrations.Commerce.Shopify.ProductPickerController as vm">

    <div ui-sortable ng-model="vm.previewNodes" ng-if="vm.previewNodes">
        <umb-node-preview ng-repeat="node in vm.previewNodes"
                          icon="node.icon"
                          name="node.name"
                          alias="node.alias"
                          published="node.published"
                          description="node.description"
                          sortable="true"
                          allow-remove="true"
                          allow-open="false"
                          on-remove="vm.remove(node)">
        </umb-node-preview>
    </div>

    <button type="button"
            class="umb-node-preview-add"
            ng-click="vm.openProductsPickerOverlay()"
            id="{{model.alias}}"
            aria-label="{{model.label}}: {{labels.general_add}}">
        <localize key="general_add">Add</localize>
        <span class="sr-only">...</span>
    </button>

</div>