@using System.Configuration
@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<Umbraco.Cms.Integrations.Commerce.Shopify.Models.ViewModels.ProductViewModel>>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <img src="@item.Image" alt="@item.Title"/>
            <h1>@item.Title</h1>
            <p>
                @item.Body
            </p>
        </li>
    }
</ul>