@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Integrations.DAM.Aprimo.Models.ViewModels.AprimoAssetViewModel>

<link href="~/App_Plugins/UmbracoCms.Integrations/DAM/Aprimo/css/aprimo.css" rel="stylesheet"/>

<div class="aprimo-container">
    @if (!string.IsNullOrEmpty(Model.Thumbnail))
    {
        <img class="aprimo-thumbnail" src="@Model.Thumbnail" alt="@Model.Title" />
    }
    <h3 class="aprimo-title">@Model.Title</h3>
</div>