@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Integrations.DAM.Aprimo.Models.ViewModels.AprimoAssetViewModel>

<style type="text/css">
    .aprimo-asset-row { display: flex; justify-content: center; }
    .aprimo-asset-row .thumbnail { float: left; margin-right: 10px; }
    .aprimo-asset-row .text { float: left; }
</style>

<div class="aprimo-asset-row">
    @if (!string.IsNullOrEmpty(Model.Thumbnail))
    {
        <img class="thumbnail" src="@Model.Thumbnail" alt="@Model.Title" />
    }
    <div class="text">
        <h3>@Model.Title</h3>
    </div>
</div>