<div ng-controller="Umbraco.Cms.Integrations.PIM.Inriver.ConfigurationController as vm">
    <uui-icon-registry-essential>
        <uui-card-content-node name="Inriver API" style="max-width: 800px;">
            <uui-icon slot="icon" name="{{vm.configuration.icon}}"></uui-icon>
            <uui-tag size="s" slot="tag" color="{{vm.configuration.tag}}">
                {{vm.configuration.status.success ? vm.configuration.status.data : vm.configuration.status.error}}
            </uui-tag>
            <div style="width:60%">
                <uui-form>
                    <uui-form-layout-item>
                        <span style="font-weight:700;font-size:15px;">Entity Type:</span>
                        <div style="margin-bottom: 20px;">Please select the Inriver entity type.</div>
                        <uui-select id="selEntityTypes" label="Entity Types" placeholder="Please select an entity type"
                                    ng-on-change="vm.entityTypeChange()"></uui-select>
                    </uui-form-layout-item>
                    <uui-form-layout-item ng-if="vm.fieldTypes.length > 0">
                        <span style="font-weight:700;font-size:15px;">Field Types:</span>
                        <div style="margin-bottom: 20px;">
                            Please select the field types you want to display for the entity.
                        </div>
                        <uui-table class="uui-text">
                            <uui-table-column style="width: 60px;"></uui-table-column>
                            <uui-table-head>
                                <uui-table-head-cell>Id</uui-table-head-cell>
                                <uui-table-head-cell>Name</uui-table-head-cell>
                            </uui-table-head>

                            <uui-table-row id="tr{{fieldType.fieldTypeId}}"
                                           ng-repeat="fieldType in vm.fieldTypes" selectable
                                           ng-on-selected="vm.selectFieldType(fieldType)"
                                           ng-on-unselected="vm.unselectFieldType(fieldType.fieldTypeId)">
                                <uui-table-cell>{{fieldType.fieldTypeId}}</uui-table-cell>
                                <uui-table-cell>{{fieldType.fieldTypeDisplayName}}</uui-table-cell>
                            </uui-table-row>
                        </uui-table>
                    </uui-form-layout-item>
                </uui-form>
            </div>
        </uui-card-content-node>
    </uui-icon-registry-essential>
</div>