<div ng-controller="Umbraco.Cms.Integrations.PIM.Inriver.EntityPickerEditorController as vm">
    <umb-load-indicator ng-if="vm.loading">
    </umb-load-indicator>
    <uui-box headline="{{model.title}}" class="inriver-container">
        <div>
            <uui-icon-registry-essential>
                <uui-input id="inSearch" class="inriver-search" label="search" 
                           ng-on-input="vm.search()" ng-model="vm.searchTerm"
                           placeholder="Enter a name to search...">
                    <uui-icon style="padding-left: 10px;" slot="prepend" name="search"></uui-icon>
                </uui-input>
            </uui-icon-registry-essential>
        </div>
        <uui-scroll-container class="mt2" style="width:100%">
            <uui-form ng-if="vm.filteredEntities.length > 0">
                <uui-form-layout-item>
                    <uui-table class="uui-text">
                        <uui-table-column style="width: 120px !important"></uui-table-column>
                        <uui-table-head>
                            <uui-table-head-cell>Name</uui-table-head-cell>
                            <uui-table-head-cell>Description</uui-table-head-cell>
                            <uui-table-head-cell ng-repeat="field in vm.filteredEntities[0].fields">
                                {{field.fieldType}}
                            </uui-table-head-cell>
                        </uui-table-head>

                        <uui-table-row ng-repeat="entity in vm.filteredEntities" selectable
                                       ng-on-selected="vm.save(entity.id)">
                            <uui-table-cell>{{entity.summary.displayName}}</uui-table-cell>
                            <uui-table-cell>{{entity.summary.displayDescription}}</uui-table-cell>
                            <uui-table-cell ng-repeat="field in entity.fields">
                                {{field.value | date : "dd.MM.y HH:mm"}}
                            </uui-table-cell>
                        </uui-table-row>
                    </uui-table>
                </uui-form-layout-item>
            </uui-form>
            <div ng-show="!vm.loading" class="inriver-center">
                <uui-pagination></uui-pagination>
            </div>
        </uui-scroll-container>
    </uui-box>
    <umb-editor-footer>
        <umb-editor-footer-content-right>
            <umb-button type="button"
                        button-style="link"
                        label-key="general_close"
                        shortcut="esc"
                        action="model.close()">
            </umb-button>
        </umb-editor-footer-content-right>
    </umb-editor-footer>
</div>