<div ng-controller="Umbraco.Cms.Integrations.Crm.Hubspot.FormPickerController as vm">

    <div class="hsOverlayGroup">
        <div class="form-search">
            <i class="icon-search"></i>
            <input type="text" class="-full-width-input" ng-model="vm.searchTerm" placeholder="Type to search..." umb-auto-focus="" aria-invalid="false">
        </div>
    </div>
    <div class="hsOverlayGroup">
        <ul class="hsFormsList">
            <li ng-repeat="form in vm.hubspotFormsList | orderBy:'name' | filter:vm.searchTerm" ng-click="model.pickForm(form)" class="ng-scope" role="button" tabindex="0">
                <a href="" ng-attr-title="form.name">
                    <i class="icon-umb-contour"></i>
                    <span class="formLine">{{form.name}}</span>
                    <small class="formLine">{{form.fields}}</small>
                </a>
            </li>
        </ul>
    </div>
</div>
