<div ng-controller="Umbraco.Cms.Integrations.Crm.Hubspot.SettingsController as vm">
    <div  ng-class="vm.status.isValid ? 'alert alert-success w5' : 'alert alert-warning w5'">
        {{ vm.status.description }}
    </div>
    <div ng-if="vm.status.useOAuth">
        <umb-button action="vm.onConnectClick()"
                    type="button"
                    button-style="primary"
                    state="init"
                    label="Connect"
                    disabled="vm.oauthSetup.isConnected">
        </umb-button>
    </div>
</div>