<div ng-controller="Umbraco.Cms.Integrations.Crm.Hubspot.SettingsController as vm">
    <umb-toggle-group items="vm.items" on-click="vm.toggleAuthType(item)">
    </umb-toggle-group>

    <umb-box ng-if="vm.useOAuth">
        <umb-box-header title="OAuth Based Setup">
            <umb-button action="vm.onConnectClick()"
                        type="button"
                        button-style="primary"
                        state="init"
                        label="Connect"
                        disabled="vm.oauthSetup.isConnected || !vm.settingsValidation.isValid">
            </umb-button>
        </umb-box-header>
        <umb-box-content>
            <p ng-if="!vm.settingsValidation.isValid">{{ vm.settingsValidation.message }}</p>
        </umb-box-content>
    </umb-box>
</div>